<article>
<h2>Questions: </h2>
<% if @questions %>
  <% @questions.each do |question| %>
  <p> <a href="/questions/<%= question.id %>"> <%= question.title %> </a> </p>
  <h5><%= question.user.username %></h5>
  <% end %>
<% end %>
</article>

<article>
  <form action="/questions/new" method="get">
    <input type="submit" value="New Question" >
  </form>
</article>
