<div class="container">
	<% if logged_in? %>
	  <article>
	    <form action="/questions" method="post">
	      <div>
		      <label>Question Title: </label>
		      <input type="text" name="question[title]" placeholder="Post your question here...(max length 64 characters)"> 
		 </div>
	       <div>
	      	<label>Description: </label>
	      	<input type="textarea" name="question[description]" placeholder="Post your question in detail here...">

	      	<p><input type="submit" value="Post a Question!"></p>
	      </div>
	    </form>
	  </article>
	<% end %>
</div>

