<form class='container'>
  <div>
  <label>Username: </label>
  <input type="text" name="user[username]">
  </div>
  <div>
  <label>Password: </label>
  <input type="text" name="user[username]">
  </div>
</form>
