.container{
	max-width: 80%;
	margin: auto;
}

#nav-bar{
	margin : 0 10%;
	background-color: lightgrey;
	height : 12%;
}

.errors{
 	color : red;
}

input[type=submit] {
  display : inline !important;
}

#logout{
  display : inline !important;
}

#user-name{
  float : right;
  padding-right: 10px;
  padding-top: 5px;
}

button {
  background: transparent;
  border: none;
}

.vote-img {
  padding-left: 5px;
  margin: auto;
  width: 30px;
  height: 30px;
}

.votes {
  text-align: center;
}

.vote-bar {
  max-width: 20%;
  margin: auto;
  margin-right: 20px;
  float: left;
}







