<form id="new-answer" action="/answers" method="post">
  <label>Description: </label>
  <input type="text" name="description" value="<%= @answer.description %>">
  <input type="submit" name="submit" value="Submit Answer">
</form>
