<nav>
  <% if logged_in? %>
    <%= erb :"sessions/_logout" %> |
    <a href="/"> Home </a>
  <% else %>
    <a href='/login'> Login </a> |
    <a href='/register'> Sign Up </a> |
    <a href="/"> Home </a>
  <% end %>
</nav>
