<nav>
  <% if logged_in? %>
    <%= erb :'sessions/_logout', layout: false %>
    <a href="/"> Home </a> | Welcome <%= current_user.username %>
  <% else %>
    <a href='/login'> Login </a> |
    <a href='/register'> Sign Up </a> |
    <a href="/"> Home </a>
  <% end %>
</nav>
