<nav id="nav-bar">
  <% if logged_in? %>
    <%= erb :"sessions/_logout", layout: false %> |
    <a href="/"> Home </a>
    <span id='user-name'> <%= current_user.username%></span>
   
  <% else %>
    <a href='/login'> Login </a> |
    <a href='/register'> Sign Up </a> |
    <a href="/"> Home </a>
  <% end %>
</nav>
